@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  text-align: center;
  font-family: Orbitron;
  /* background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
  /* color:#555; */

  /* -webkit-backface-visibility: hidden; */
  /* -webkit-perspective: 1000; */
  /* -webkit-transform: translate3d(0,0,0); */
}

@layer components {
  .typingText {
    display: inline-block;
    white-space: pre-wrap;
    overflow: hidden;
    max-width: 100%;
  }
  .typingAnimation {
    overflow: hidden;
  }
}
